<form method="post">
  <div class="card">
    <h4 class="card-header">
      Edit Product
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtProID">ID</label>
        <input type="text" class="form-control" id="txtProID" name="ProID" readonly value="{{this.product.ProID}}">  
      </div>
      <div class="form-group">
        <label for="txtProName">Name</label>
        <input type="text" class="form-control" id="txtProName" name="ProName" autofocus value="{{this.product.ProName}}">
      </div>
      <div class="form-group">
        <label for="txtDes">Mô tả</label>
        <input type="text" class="form-control" id="txtDes" name="TinyDes" autofocus value="{{this.product.TinyDes}}">
      </div>
      <div class="form-group">
        <label for="txtPrice">Giá</label>
        <input type="text" class="form-control" id="txtPrice" name="Price" autofocus value="{{this.product.Price}}">
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-outline-success" href="/admin/product" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-primary" formaction="/admin/product/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
      <button type="submit" class="btn btn-danger" formaction="/admin/product/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
    </div>
  </div>
</form>